<form>
    <div>
        <dl>
            <dt>UserName</dt>
            <dd><input type="text" name="txtname" /></dd>
            <dt>Password</dt>
            <dd><input type="password" name="txtpwd" /></dd>
        </dl>
        <button>Login</button>
    </div>
    @Html.ActionLink("Back to Index","Index")
</form>
